.env
.venv
__pycache__/
steps.txt
.rasa
.venv_mcq
mcq_service/venv_mcq
mcq_service/__pycache__/
node_modules
package-lock.json
short_qa/venv_shortqa
short_qa/__pycache__/
chroma_db
chroma_db_mcq/9db963cc-b412-472b-978b-5bbdc906e99e
chroma_db_mcq/chroma.sqlite3
chroma_db_mcq
